// Default variables

$base-font-weight: 500;

$brand-color: #c668dc;
$brand-color-light: #ececec;
$brand-color-dark: #68356a;

$text-color: #d1b7dc;
$title-color: $brand-color-light;
$site-title-color: $title-color;
$link-base-color: $title-color;
$background-color: #3d0848;

$border-color-01: $brand-color-light;
$border-color-02: $border-color-01;
$border-color-03: $border-color-01;

$outline-width: 2px;
