---
layout: base
---

<div class="home">
  <div class="center-content">
    {%- if page.title -%}
      <h1 class="post-title">{{ page.title }}</h1>
    {%- endif -%}
  
    {{ content }}
  </div>

  {% include widget.html
    image="/assets/images/brick-rigs-logo.png"
    text="Brick Rigs, a physics sandbox game developed by Fluppisoft."
    ref="/brick-rigs/"
  %}
  {% include widget.html
  image="/assets/images/blog-logo.png"
  text="Read the Fluppisoft development blog to stay up to date with the latest updates and news."
  ref="/blog/"
  %}
</div>
