---
layout: base
---

<div class="home">
  <div class="home-side">
    <div class="home-side-content">
      <div>
        <img src="/assets/images/brick-rigs-logo.png">
        <p class="widget-text">Brick Rigs, a physics sandbox game developed by Fluppisoft.</p>
      </div>
      <a href="/brick-rigs/" class="widget-button">Learn More</a>
    </div>
  </div>
  <div class="home-blogs">
    <div class="home-blogs-div">
      <img src="/assets/images/fluppisoft-logo.png" style="border-radius: 5px;">
      <p class="widget-text">Read the Fluppisoft development blog to stay up to date with the latest updates and news.</p>
      <a href="/blog/" class="widget-button">Learn More</a>
    </div>
  </div>
</div>
